div{
    width: 800px;
    height: 830px;
    background-color: lightblue;
    border: solid black;
    border-width: 2px;
}

#foto1{
    float: left;
    margin: 10px;
}

#foto2{
    float: right;
    margin: 10px;
}

#foto3{
    float: left;
    margin: 10px
}

h1{
    margin-left: 20px;
    margin-top: 4px;
}

img{
    border-width: 1px;
    border: solid black;
}